:root {
  --ff-regular: "Century Gothic Regular", sans-serif;
  --ff-bold: "Century Gothic Bold", sans-serif;

  --col-black: #000000;
  --col-white: #ffffff;
  --col-grey: #a2a2a2;
  --col-grey-med: #b8b8b8;
  --col-grey-light: #f9f9f9;
  --col-red: #df0017;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-burger {
  height: 22px;
  width: 30px;
  background-image: url("./images/burger.png");
  background-size: cover;
  span {
  }
}
