:root {
  --ff-regular: 'Century Gothic Regular', sans-serif;
  --ff-bold: 'Century Gothic Bold', sans-serif;
  --col-black: #000000;
  --col-white: #ffffff;
  --col-grey: #a2a2a2;
  --col-grey-med: #b8b8b8;
  --col-grey-light: #ededed;
  --col-red: #df0017;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-wrapper {
  background-color: white;
  position: relative;
}

.header-wrapper .header {
  width: 97%;
  padding: 17px 20px 23px;
  max-width: 1720px;
  margin: 0 auto;
}

.header-wrapper .header .submenu {
  display: block;
  position: absolute;
  overflow: hidden;
  left: -30%;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: white;
  min-width: 376px;
  padding: 25px 50px 25px 60px;
  margin-top: 22px;
}

.header-wrapper .header .submenu .sub-extra-content-wrapper {
  display: none;
}

.header-wrapper .header .submenu.active {
  left: 0px;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
}

.header-wrapper .header .submenu .submenu-list {
  width: 100%;
}

.header-wrapper .header .submenu .submenu-list .submenu-item {
  width: 100%;
  padding-block: 13px;
}

.header-wrapper .header .submenu .submenu-list .submenu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--col-black);
  text-transform: uppercase;
  font-family: var(--ff-bold);
  font-size: 16px;
  font-weight: 600;
}

.header-wrapper .header .submenu .submenu-list .submenu-item a .plus-icon {
  background-image: url(./images/plus-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 8px;
  height: 8px;
}

.header-wrapper .header .submenu .submenu-list .close-icon {
  padding: 0 0 35px 100%;
}

.header-wrapper .header .submenu .submenu-list .close-icon span {
  cursor: pointer;
  display: block;
  background-image: url(./images/close_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
}

.header-wrapper .header .submenu .submenu-list .women .women-submenu-wrapper {
  display: none;
}

.header-wrapper .header .submenu .submenu-list .women .women-submenu-wrapper.women-active {
  display: block;
}

.header-wrapper .header .header-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 30px;
}

.header-wrapper .header .header-up .header-up-left-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 87.6%;
      flex-basis: 87.6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper .header .header-up .header-up-left-half .logo-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
          column-gap: 75px;
}

.header-wrapper .header .header-up .header-up-left-half .logo-burger .menu-burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header .header-up .header-up-left-half .logo-burger .menu-burger-wrapper .menu-burger span {
  display: block;
  height: 22px;
  width: 30px;
  background-image: url("./images/burger.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header-wrapper .header .header-up .header-up-left-half .logo-burger .logo-wrapper .logo {
  width: 145px;
}

.header-wrapper .header .header-up .header-up-left-half .logo-burger .logo-wrapper .logo a img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.header-wrapper .header .header-up .header-up-left-half .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header .header-up .header-up-left-half .search-wrapper .search span {
  display: block;
  height: 26px;
  width: 26px;
  background-image: url("./images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header-wrapper .header .header-up .header-up-right-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 12.4%;
      flex-basis: 12.4%;
  min-width: 213px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 207px;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 154px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 5px;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .face span {
  display: block;
  width: 28px;
  height: 25px;
  background-image: url(./images/head.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .face p {
  display: none;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .heart span {
  display: block;
  width: 28px;
  height: 25px;
  background-image: url(./images/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .heart p {
  display: none;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .cart span {
  display: block;
  width: 28px;
  height: 25px;
  background-image: url(./images/cart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header-wrapper .header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .cart p {
  display: none;
}

.header-wrapper .header .header-up .header-up-right-half .lang-selector-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header .header-up .header-up-right-half .lang-selector-wrapper .lang-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .header .header-up .header-up-right-half .lang-selector-wrapper .lang-selector a {
  color: #000000;
  font-family: var(--ff-bold);
  font-size: 14px;
  font-weight: 600;
}

.header-wrapper .header .header-up .header-up-right-half .lang-selector-wrapper .lang-selector .greek-lang::before {
  content: '|';
  padding-left: 5px;
}

.header-wrapper .header .header-down .main-navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .header .header-down .main-navigation .nav-list .nav-item {
  margin-right: 15px;
  text-align: center;
}

.header-wrapper .header .header-down .main-navigation .nav-list .nav-item a {
  text-transform: uppercase;
  color: #000000;
  font-family: var(--ff-bold);
  font-size: clamp(12.68px, 1vw, 16px);
  font-weight: 600;
}

@media (max-width: 1023px) {
  .header-wrapper .header {
    padding: 12px 22px 18px;
  }
  .header-wrapper .header .submenu {
    background-color: var(--col-white);
    width: 100%;
    padding-inline: 43px;
    left: -100%;
  }
  .header-wrapper .header .submenu .submenu-list {
    max-width: 550px;
    margin: 0 auto;
  }
  .header-wrapper .header .submenu .submenu-list .submenu-item {
    padding-block: 12px;
    padding-inline: 20px;
    margin-block: 7px;
  }
  .header-wrapper .header .submenu .submenu-list .submenu-item.box {
    background-color: var(--col-grey-light);
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    padding-block: 75px;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper {
    padding-inline: 17px;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper .customer-service .customer-service-icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper .customer-service .customer-service-icon-wrapper .customer-service-icon {
    margin-right: 8px;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper .customer-service .customer-service-icon-wrapper .customer-service-icon span {
    display: block;
    background-image: url(./images/tel-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper .customer-service .customer-service-icon-wrapper .customer-service-content-wrapper .customer-service-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper .customer-service .customer-service-icon-wrapper .customer-service-content-wrapper .customer-service-content span {
    font-family: var(--ff-bold);
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper .customer-service .customer-service-icon-wrapper .customer-service-content-wrapper .customer-service-content span:first-of-type {
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--ff-bold);
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .customer-service-wrapper .customer-service .customer-service-icon-wrapper .customer-service-content-wrapper .customer-service-content span:last-of-type {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--ff-bold);
    text-align: center;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .line span {
    display: block;
    border: 1px solid var(--col-grey);
    margin-block: 18px;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .social-media-wrapper .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .social-media-wrapper .social-media .join-us {
    font-size: 12px;
    font-family: var(--ff-regular);
    text-transform: uppercase;
    min-width: 61px;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .social-media-wrapper .social-media .fb-link span {
    display: block;
    background-image: url(./images/fb.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 7px;
    height: 16px;
    margin-right: 15px;
  }
  .header-wrapper .header .submenu .sub-extra-content-wrapper .sub-extra-content .social-media-wrapper .social-media .insta-link span {
    display: block;
    background-image: url(./images/insta.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }
  .header-wrapper .header-up {
    padding: 0;
  }
  .header-wrapper .header-up .header-up-left-half {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-wrapper .header-up .header-up-left-half .logo-burger {
    -webkit-column-gap: 0;
            column-gap: 0;
    width: 100%;
  }
  .header-wrapper .header-up .header-up-left-half .logo-burger .menu-burger-wrapper {
    -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
  }
  .header-wrapper .header-up .header-up-left-half .logo-burger .logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-wrapper .header-up .header-up-left-half .search-wrapper {
    -ms-flex-preferred-size: 26px;
        flex-basis: 26px;
  }
  .header-wrapper .header-up .header-up-right-half {
    -webkit-box-shadow: 0px -3px 6px #00000029;
            box-shadow: 0px -3px 6px #00000029;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 68px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper {
    min-width: 80vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .face a {
    color: #000000;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .face a span {
    margin: 0 auto;
    background-position: center;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .face a p {
    margin-top: 5px;
    display: block;
    font-family: var(--ff-bold);
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .heart a {
    color: #000000;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .heart a span {
    margin: 0 auto;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .heart a p {
    margin-top: 5px;
    display: block;
    font-family: var(--ff-bold);
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .cart {
    margin-left: 10px;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .cart a {
    color: #000000;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .cart a span {
    margin: 0 auto;
  }
  .header-wrapper .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .cart a p {
    margin-top: 5px;
    display: block;
    font-family: var(--ff-bold);
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .header-wrapper .header-up .header-up-right-half .lang-selector-wrapper {
    display: none;
  }
  .header-wrapper .header-down {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */