:root {
  --ff-regular: "Century Gothic Regular", sans-serif;
  --ff-bold: "Century Gothic Bold", sans-serif;

  --col-black: #000000;
  --col-white: #ffffff;
  --col-grey: #a2a2a2;
  --col-grey-med: #b8b8b8;
  --col-grey-light: #f9f9f9;
  --col-red: #df0017;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-wrapper {
  background-color: whitesmoke;
  position: relative;

  .header {
    width: 97%;
    padding: 17px 20px 23px;
    max-width: 1720px;
    margin: 0 auto;

    & .submenu {
      display: block;
      position: absolute;
      overflow: hidden;
      left: -30%;
      transition: ease-out 0.3s;
      background-color: rgb(255, 219, 219);
      min-height: 500px;
      padding: 25px 50px 25px 60px;
      margin-top: 22px;

      &.active {
        left: 0;
        transition: ease 0.6s;
      }
      & .submenu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
        .submenu-item {
          width: 100%;
          a {
            display: flex;
            justify-content: space-between;
            color: var(--col-black);
            text-transform: uppercase;
            font-family: var(--ff-bold);
            font-size: 14px;
            font-weight: 600;
            span {
            }
          }
        }
        .close-icon {
          width: 100%;
          margin-block: 10px;
          display: flex;
          justify-content: end;
          span {
            cursor: pointer;
            display: block;
            background-image: url(./images/close_icon.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .header-up {
      display: flex;
      justify-content: space-between;
      padding-block: 30px;
      .header-up-left-half {
        display: flex;
        flex-basis: 87.6%;
        justify-content: space-between;
        .logo-burger {
          // flex-basis: 14.5%;
          display: flex;
          column-gap: 75px;
          .menu-burger-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .menu-burger {
              span {
                display: block;
                height: 22px;
                width: 30px;
                background-image: url("./images/burger.png");
                background-size: contain;
                background-repeat: no-repeat;
              }
            }
          }
          .logo-wrapper {
            .logo {
              width: 145px;
              // height: 31px;
              a {
                img {
                  max-width: 100%;
                  display: block;
                  margin: 0 auto;
                }
              }
            }
          }
        }
        .search-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .search {
            span {
              display: block;
              height: 26px;
              width: 26px;
              background-image: url("./images/search.png");
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
      .header-up-right-half {
        display: flex;
        flex-basis: 12.4%;
        min-width: 213px;
        justify-content: flex-end;
        min-width: 207px;
        .icons-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .header-up-right-half-wrapper {
            // flex-basis: 8.95%;
            display: flex;
            width: 154px;
            justify-content: space-evenly;
            padding-left: 5px;
            .face {
              span {
                display: block;
                width: 28px;
                height: 25px;
                background-image: url(./images/head.png);
                background-size: contain;
                background-repeat: no-repeat;
              }
              p {
                display: none;
              }
            }
            .heart {
              span {
                display: block;
                width: 28px;
                height: 25px;
                background-image: url(./images/heart.png);
                background-size: contain;
                background-repeat: no-repeat;
              }
              p {
                display: none;
              }
            }
            .cart {
              span {
                display: block;
                width: 28px;
                height: 25px;
                background-image: url(./images/cart.png);
                background-size: contain;
                background-repeat: no-repeat;
              }
              p {
                display: none;
              }
            }
          }
        }
        .lang-selector-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .lang-selector {
            display: flex;
            a {
              color: #000000;
              font-family: var(--ff-bold);
              font-size: 14px;
              font-weight: 600;
            }
            .greek-lang::before {
              content: "|";
              padding-left: 5px;
            }
          }
        }
      }
    }

    .header-down {
      .main-navigation {
        .nav-list {
          display: flex;
          .nav-item {
            // margin-right: clamp(10px, 2.5vw, 30px);
            margin-right: 15px;
            text-align: center;
            a {
              text-transform: uppercase;
              color: #000000;
              font-family: var(--ff-bold);
              font-size: clamp(12.68px, 1vw, 16px);
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .header-wrapper {
    .header {
      padding: 12px 22px 18px;
      .submenu {
        background-color: var(--col-red);
        margin-top: 18px;
        width: 100%;
        padding-inline: 43px;
        left: -100%;
        &.active {
        }
      }

      .header-up {
        padding: 0;

        .header-up-left-half {
          flex-basis: 100%;
          .logo-burger {
            .logo-wrapper {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        .header-up-right-half {
          box-shadow: 0px 12px 20px 10px #000000;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100vw;
          min-height: 68px;
          justify-content: center;
          .icons-wrapper {
            .header-up-right-half-wrapper {
              min-width: 80vw;
              justify-content: space-between;
              .face {
                a {
                  color: #000000;
                  span {
                    margin: 0 auto;
                  }
                  p {
                    margin-top: 5px;
                    display: block;
                    font-family: var(--ff-bold);
                    font-size: 9px;
                    text-transform: uppercase;
                    font-weight: 600;
                  }
                }
              }
              .heart {
                a {
                  color: #000000;
                  span {
                    margin: 0 auto;
                  }
                  p {
                    margin-top: 5px;
                    display: block;
                    font-family: var(--ff-bold);
                    font-size: 9px;
                    text-transform: uppercase;
                    font-weight: 600;
                  }
                }
              }
              .cart {
                margin-left: 10px;
                a {
                  color: #000000;
                  span {
                    margin: 0 auto;
                  }
                  p {
                    margin-top: 5px;
                    display: block;
                    font-family: var(--ff-bold);
                    font-size: 9px;
                    text-transform: uppercase;
                    font-weight: 600;
                  }
                }
              }
            }
          }

          .lang-selector-wrapper {
            display: none;
          }
        }
      }

      .header-down {
        display: none;
      }
    }
  }
}
