:root {
  --ff-regular: "Century Gothic Regular", sans-serif;
  --ff-bold: "Century Gothic Bold", sans-serif;
  --col-black: #000000;
  --col-white: #ffffff;
  --col-grey: #a2a2a2;
  --col-grey-med: #b8b8b8;
  --col-grey-light: #f9f9f9;
  --col-red: #df0017;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: whitesmoke;
  padding-inline: 100px;
  padding-bottom: 23px;
  padding-top: 20px;
  position: relative;
}

header .submenu {
  display: block;
  position: absolute;
  overflow: hidden;
  left: -20%;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: grey;
  width: 19.5%;
  height: 100vh;
  padding-inline: 50px 60px;
  padding-block: 25px;
  top: 153px;
}

header .submenu.active {
  left: 0;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
}

header .submenu .submenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 25px;
}

header .submenu .submenu-list .submenu-item {
  width: 100%;
}

header .submenu .submenu-list .submenu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--col-black);
  text-transform: uppercase;
  font-family: var(--ff-bold);
  font-size: 14px;
  font-weight: 600;
}

header .submenu .submenu-list .close-icon {
  width: 100%;
  margin-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .submenu .submenu-list .close-icon span {
  cursor: pointer;
  display: block;
  background-image: url(./images/close_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
}

header .header-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-block: 30px;
}

header .header-up .header-up-left-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 82.5%;
      flex-basis: 82.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-up .header-up-left-half .logo-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
          column-gap: 75px;
}

header .header-up .header-up-left-half .logo-burger .menu-burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-up .header-up-left-half .logo-burger .menu-burger-wrapper .menu-burger span {
  display: block;
  height: 22px;
  width: 30px;
  background-image: url("./images/burger.png");
  background-size: contain;
  background-repeat: no-repeat;
}

header .header-up .header-up-left-half .logo-burger .logo-wrapper .logo {
  width: 145px;
}

header .header-up .header-up-left-half .logo-burger .logo-wrapper .logo a img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

header .header-up .header-up-left-half .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-up .header-up-left-half .search-wrapper .search span {
  display: block;
  height: 26px;
  width: 26px;
  background-image: url("./images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
}

header .header-up .header-up-right-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-up .header-up-right-half .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 154px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-inline: 5px;
}

header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .face span {
  display: block;
  width: 28px;
  height: 25px;
  background-image: url(./images/head.png);
  background-size: contain;
  background-repeat: no-repeat;
}

header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .heart span {
  display: block;
  width: 28px;
  height: 25px;
  background-image: url(./images/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

header .header-up .header-up-right-half .icons-wrapper .header-up-right-half-wrapper .cart span {
  display: block;
  width: 28px;
  height: 25px;
  background-image: url(./images/cart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

header .header-up .header-up-right-half .lang-selector-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-up .header-up-right-half .lang-selector-wrapper .lang-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-up .header-up-right-half .lang-selector-wrapper .lang-selector a {
  color: #000000;
  font-family: var(--ff-bold);
  font-size: 14px;
  font-weight: 600;
}

header .header-up .header-up-right-half .lang-selector-wrapper .lang-selector .greek-lang::before {
  content: "|";
  padding-left: 5px;
}

header .header-down .main-navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

header .header-down .main-navigation .nav-list .nav-item a {
  text-transform: uppercase;
  color: #000000;
  font-family: var(--ff-bold);
  font-size: 13px;
  font-weight: 600;
}
/*# sourceMappingURL=header.css.map */