:root {
  --ff-regular: "Century Gothic Regular", sans-serif;
  --ff-bold: "Century Gothic Bold", sans-serif;

  --col-black: #000000;
  --col-white: #ffffff;
  --col-grey: #a2a2a2;
  --col-grey-med: #b8b8b8;
  --col-grey-light: #f9f9f9;
  --col-red: #df0017;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-burger {
  .menu-burger-wrapper {
    .menu-burger {
      span {
        display: block;
        height: 22px;
        width: 30px;
        background-image: url("./images/burger.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .logo-wrapper {
    .logo {
      width: 145px;
      height: 31px;
      a {
        img {
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.search-wrapper {
  .search {
    height: 26px;
    width: 26px;
    background-image: url("./images/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    span {
    }
  }
}
